.button {
    background: #ffe12e;
    border: 1px solid #ffd10d;
    padding: 5px 10px;
    border-radius: 5px;
    float: right;
    margin-right: 20px;
}
.quoteButton {
    position: absolute;
    top: 5px;
}
.edit {
    background: #fff;
    right: 35px;
}
.delete {
    background: red;
    right: 0;
}